    *{
        margin: 0;
        padding: 0;
    }

body{
    
}
a{
    color: black;
}

.titulo_sessao{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: left;
    padding: 30px;
    font-weight: normal;
}










    #container_top{
        background-color: rgba(255, 255, 255, 0.373);
        height: 50px;
        text-align: center;
        margin: auto;     

    }

    #container_itens_top{
        
        height: 50px;
        max-width: 1200px;
        margin: auto;
        padding: 18px;

    }

    .icon_top{
        width: 15px;
        padding-right: 10px
    }

    .list_top_left{
        list-style: none;
        float: left;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 14px;
        padding-right: 10px;
    }

    .list_top_right{
        list-style: none;
        float: right;
        font-size: 14px;
        padding-right: 30px;
    }













    #container_banner{

        height: 610px;
        text-align: center;
        margin: auto;
        
    }

    #container_banner_item{

        height: 610px;
        background-image: url(./images/imagem3.jpg);
        background-attachment: fixed;
        background-size: cover;
        
        

    }

    #container_menu{

        max-width: 1200px;
        height: 70px;
        margin: auto;
        padding: 18px;

    }

    
    .list_menu_right{
        list-style: none;
        float: right;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        width: 100px;
        height: 20px;
       
    }

    .list_menu_right:hover{
        list-style: none;
        float: right;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        padding: 10px;
        width: 100px;
        height: 20px;
        background-color: red;
    }

    .list_menu_left{
        list-style: none;
        float: left;
        align-items: -50px;
    }

    #logo{
        width: 300px;
    }
























#container_frase{

        height: 150px;
        max-width: 1200px;
        text-align: center;
        margin: auto;
        margin-top: 15px;
        padding: 15px;
}

#texto1{
    height: 150px;
    width: 500px;
    display: inline-flex;
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    align-items: center;
    border-right-style: solid;
    border-right-color: red;


    
}

#texto2{
    height: 150px;
    width: 500px;
    display: inline-flex;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}











#container_sessao_produtos{
    background-color: #3f3f3f;

}


#container_produtos{
    height: 400px;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding: 10px;
    display: flex;
    


}


#container_produtos_img{
    width: 290px;
    height: 350px;
    display: flex;
    flex-flow: wrap;

}


#quadro_produtos{
    width: 120px;
    height: 160px;
    display: flex;
    background-color: red;
    border-radius: 10px;
    font-family: calibri;
    font-weight: normal;
    font-size: 10px;
    padding: 10px;
    margin-right: 10px;
    color: white;
    justify-content: flex-end;
    align-items:flex-end;

}

#quadro_produtos2{
    width: 120px;
    height: 160px;
    background-image: url(./images/medicamentos.jpg);
    background-size: cover;
    border-radius: 10px;
    font-family: calibri;
    font-weight: normal;
    font-size: 10px;
    text-align: right;
    vertical-align: bottom;
    padding: 10px;

}

#quadro_produtos3{
    width: 290px;
    height: 90px;
    background-image: url(./images/ferramentas.jpg);
    background-size: cover;
    border-radius: 10px;
    font-family: calibri;
    font-weight: normal;
    font-size: 10px;
    text-align: right;
    vertical-align: bottom;
    padding: 10px;
    margin-top: -42px;

}

#quadro_produtos4{
    width: 850px;
    height: 350px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: normal;
    font-size: 10px;
    padding: 30px;
    color: rgb(20, 20, 20);
}

.titulo_produtos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.texto_produtos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}























.container_produtos_item{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 0%;
    border-style: solid;
    border-color: rgb(61, 61, 61);
   
    
}

#basico{
    background-image: url(./images/basico.jpg);
    background-size: cover;

}

#eletrica{
    background-image: url(./images/eletrica.png);
    background-size: cover;

}

#hidraulica{
    background-image: url(./images/hidraulica.jpg);
    background-size: cover;

}

#pintura{
    background-image: url(./images/pintura.jpg);
    background-size: cover;

}

#ferramentas{
    background-image: url(./images/ferramentas.jpg);
    background-size: cover;

}

.texto_produto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    top: 50%;
    color:#00000000;
    
    


}













#container_parceiros{
    height: 220px;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 150px;

}


